<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <meta charset="UTF-8">
    <title>Christmas hat</title>
    <link href="static/bootstrap.min.css" rel="stylesheet">
    <link href="static/style.css" rel="stylesheet">
    <link rel="shortcut icon" href="static/img/favicon.ico" type="image/x-icon">
    <script src="static/js/jquery-2.1.4.js" type="application/javascript"></script>
</head>
<body>
<div id="people_number">
    <h1>Введите количество людей</h1>
    <input id="people_number_field" type="text" size="40"> <br>
    <button class="btn btn-primary ok_button" onclick="aler()">OK</button>
</div>
<div id="people_names_input" class="hidden">
    <h1> Введите имена </h1>
    <div class="col_headers">
         <div class="who">
            <h3>Кто дарит? </h3>
         </div>

        <div class="whom">
            <h3> Кому не дарит?</h3>
        </div>
    </div>
    <div class="persons_block">
    </div>
</div>

</body>
<script>
    var people_number;
    function aler(){
        people_number = $('#people_number_field').val();
        $('#people_number').addClass("hidden");
        $('#people_names_input').removeClass("hidden");
        for (var i = 0; i < people_number; i++) {
            var d = document.createElement('div');
            $(d).addClass("person_name");
            $(d).attr("id","person" + i);
            var input_name = document.createElement('input');
            input_name.type = "text";
            $(input_name).addClass("form-control name");
            $(input_name).attr("id","name_person" + i);
            var not_from_input = document.createElement('input');
            not_from_input.type = "text";
            $(not_from_input).addClass("form-control name");
            $(not_from_input).attr("id","not_to_person" + i);
            $(d).append(input_name);
            $(d).append(not_from_input);
            $(".persons_block").append(d)

        }
        if (people_number > 0) {
            var btn = document.createElement('BUTTON');
            $(btn).addClass("btn btn-primary submit_btn");
            $(btn).text("OK");
            $(btn).click(submit);
            $("#people_names_input").append(btn)

        }
    }

    function submit() {
        var res = {};
        names = [];
        not_to_names = [];
        for (var i = 0; i < people_number; i ++) {
            var name = $("#name_person" + i).val();
            var val = $("#not_to_person" + i).val();
            var not_to_name = (val == "") ? "None" : val;
            names.push(name)
            not_to_names.push(not_to_name)

        }
        $.post('/name', {
            names: names.toString(),
            not_to_names: not_to_names.toString()
    });
    }

</script>
</html>